@import "tailwindcss";

:root {
  --primary: #12274b;
  --accent: #3ed8c1;
  --light-grey: #e0e4ea;
  --primary-orange: #f5a623;
  --backgroud-white: #f2f2f2;
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-light-grey: var(--light-grey);
  --color-primary-orange: var(--primary-orange);
  --font-primary: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background-white);
  color: var(--primary);
  font-family: var(--font-poppins);
}
